* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 5px;
}

.containerPaints {
  position: relative;
}

.lines {
  position: absolute;
  left: 282px;
  z-index: 0;
}

.color {
  position: absolute;
  left: 282px;
  opacity: 0;
  z-index: 1;
}

.wrapper-text {
  position: absolute;
  width: 700px;
  height: 50px;
  padding: 10px;
  top: 1256px;
  left: 407px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: black;
}

.fillColor {
  color: #2e3583;
}